@model LojaVirtual.Dominio.Entidades.Produto

<div class="well">
    <h3><strong>@Model.Nome</strong></h3>
    <h3><spam class="pull-right label-primary">@Model.Preco.ToString("c")</spam></h3>
    <spam class="lead">@Model.Descricao</spam>
</div>
